.App {
  text-align: center;
  align-items: center;
  flex-direction: column;
}
 

h1 {
  color:darkgreen;
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}


input {
  color:black;
  height: 30px;
  width: 250px;
  font-size: 20px;
  border-color: #555;
  border-radius: 3%;
}


.SearchBar {
  justify-content: center;
  align-items: center;
}


ol, li {
  font-size: larger;
  color:darkgreen;
  text-align: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}


h3 {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  color: darkgreen;
  text-align: center;
}